.iten-variations {
    width: 25vw;
    display: grid;
    grid-template-rows: 100px 100px 1fr;
}
.size-block {
    background: rgb(216, 216, 216);
    padding: 5px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}
.buy-options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 50px;
}
.buy-options span {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(216, 216, 216);
    justify-content: center;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}